<div class="divider"></div>
<div>

<p><%= reply.subject %></p>

  <div>
    Posted by <%= reply.user.first_name %> <%= reply.user.last_name %> <%= reply.user.credentials %> in <%= reply.user.state %> on <%= reply.created_at.strftime("%B %d %Y, %l:%M%P") %> 
  </div>
</div>

<%= link_to "Edit", edit_post_reply_path(reply.post, reply) %>&nbsp;|&nbsp;
<%= link_to "Delete", post_reply_path(reply.post, reply), method: :delete, data: { confirm: "Are you sure?" } %>

</div>