<p id="notice"><%= notice %></p>
<div class="center">
  <h4>Discussions</h4>
</div>
<div class="divider"></div>
<div>
<% @posts.each do |post| %>
  <div class="row">

    <div class="col s2">
      <div class="row">
        <h6>
          <%= post.try(:user).try(:first_name)%><br>
          <%= post.try(:user).try(:last_name)%><br>
        </h6>
        <div>
          <%= post.try(:user).try(:credentials)%><br>
          <%= post.try(:user).try(:state)%><br>
        </div>
      </div>
      <div class="row">
        
      </div>
    </div>
    <div class="col s10">
      <div class="row">
        <h5><%= post.title %></h5>
      </div>
      <div class="row">
        
        Created <%= time_ago_in_words(post.created_at) %> ago
      </div>
      <div class="row">
        <%= post.subject %>
      </div> 
      <div class="row">
        <span><%= link_to 'Show', post %></span>
        <% if can? :update, post %>
          <span> | <%= link_to 'Edit', edit_post_path(post) %></span>
        <% end %>
        <% if can? :destroy, post %>
          <span> | <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </div>
    </div>

  </div>
  <div class="divider"></div>
<% end %>
</div>


<br>


<div><%= link_to 'New Discussion', new_post_path, class: "waves-effect waves-light btn" %></div>
