<p id="notice"><%= notice %></p>

<div>
  <h4><%= @post.title %></h4>
</div>

<div>
  Posted by <%= @post.user.first_name %> on <%= @post.created_at.strftime("%B %d %Y, %l:%M%P") %> 
</div>

<br>

<div>
  <strong><%= @post.subject %></strong>
</div>

<h5>Comments:</h5>
<%= render @post.replies %>

<div>
  <h6>Reply</h6>

<%= render 'replies/form' %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
