<!DOCTYPE html>
<html>
  <head>
    <title>SPIRIT  Esrd Discourse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-fixed">
      <nav class="indigo darken-4">
        <div class="nav-wrapper">
          <div class="container">
            <%= link_to "SPIRIT in ESRD", root_path, class: "brand-logo" %>
            <div class="right hide-on-med-and-down">
              <% if user_signed_in? %>
                Logged in as 
                <% if current_user.first_name %>
                  <strong><%= link_to current_user.first_name, edit_user_registration_path(current_user.id) %></strong>
                <% else %>
                  <strong><%= link_to current_user.email, edit_user_registration_path(current_user.id) %></strong>
                <% end %>&nbsp;&#124;&nbsp;

                <% if current_user.admin == true %>
                <a href="/admin">Admin</a>&nbsp;&#124;&nbsp;
                <% else %>
                <% end %>

                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path %> &#124;
                <%= link_to "Login", new_user_session_path  %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </div>




    <div class="container">
      <div>

      </div>
      <%= yield %>
    </div>
  </body>
</html>
